.header {
  display: flex;
  flex-direction: column;
  
  h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: var(--text-primary);
  }

  @media (min-width: 768px) {
    .header {
      flex-direction: row-reverse;
    }
  }
}